<div class="row">
  <div class="col s11 m8">
    <div class="card-panel teal blue-grey">
      <span class="grey-text"><%= pseudo %></span>
      <br>
      <span class="white-text"><%= message %></span>
    </div>
  </div>
</div>